@import "~bootstrap/scss/bootstrap";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.card{
    margin-inline: 20px;
    height: 100%;
    width: 200px;
}
.containerCard{
    max-width: 1000px;
    margin: auto;
    margin-top: 150px;
}
